<a href="/pictures">Would you like to see some pictures?</a>

<p>imagini is an image sharing site prototype with the intention of sharing photographs to be commented on or critiqued by fellow users.</p>
