<a style="font-size:35px" class ="towards-index" href="/pictures">Would you like to see some pictures?</a>

<p style="font-size:25px">imagini is an image sharing site prototype with the intention of sharing photographs to be commented on or critiqued by fellow users.</p>
