<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imagini</title>
</head>
<body>
    <nav>
    <div class="nav-wrapper" style="background-color:#FF9DC0">
      <a href="/" class="brand-logo center">imagini</a>
      <ul id="nav" class="left">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/submit">Submit</a></li>
        <li><a href="/pictures">Archive</a></li>
      </ul>
    </div>
   </nav>
   {{{body}}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
</body>
</html>
