<form action="/pictures" method="post">
    <div>
      <label>Image Title</label>
        <input type="text" name="pictures[title]" placeholder="Title">
    </div>
    <div>
        <label>Upload File</label><br>
        <input type="file" name="pictures[pic]" accept="image/*">
    </div>   
    <br > 
    <div>
        <button type="submit" class="btn" style="background-color:black;">Submit Picture!</button>
    </div>    
</form>
