body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
}

nav {
    height: 130px;
}

h1:hover {
    color: black;
}

h4 {
    color: black;
    font-size: 20px;
}

form {
    padding-top: 20px;
}

.towards-index {
    padding-top: 20px;
    font-size: 20px;
}

@media (max-width: 790px) {
    .picture {
        height: 374px;
        width: 550px; 
    }
  }
